Repository IFreeOvO/vuepress-plugin-easy-sidebar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["prettier --write .", "eslint  --fix"],
  "*.md": ["prettier --write"]
}

chore: 修改package.json信息
  .gitignore
  lib/autoSidebar.js
  lib/index.js
  lib/types/index.js
  package.json
Due: prettier --write ., eslint --fix

docs: 更新文档
  README.md
Due: prettier --write

ci: 添加github action
  .github/workflows/publish-npm.yml
  README.md
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: 修改yml配置
  .github/workflows/publish-npm.yml
Due: none

ci: 补充缺少的npm配置
  .github/workflows/publish-npm.yml
Due: none
